.super-mario {
    width: 200px;
    position:absolute;
    z-index: 1


    
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    z-index: 2;
    top: 340px;
    left: 150px;


  }
  
  .baloon {
      position:absolute;
      z-index: 3;
      left: 200px;
      top: 60px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 220px;
    top: 100px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 450px;
    top:250px;
  }