h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    }
    ul {
        background-color: peachpuff;
        line-height: 40px;
    }
    body{
        font-size: 16px;
        background-color: whitesmoke;
    }
    .my-style {
     
    }
    p {
        font-weight: 600;
        font-size: 3em;
        text-align: center;
        text-decoration: underline;
    }